{% extends "base.jinja" %}
{% block title %}
{{ blog.title }} :: tag :: {{ tag.tag }}
{% endblock title %}
{% block subheader %}
<h1 class="post">tags &gt; {{ tag.tag }}</h1>
{% endblock subheader %}
{% block body %}
<div id="main">
    <h2>posts tagged with {{ tag.tag }}</h2>
    <ul>
    {% for p in tag.posts %}
        <li><a href="{{ p.url }}">{{ p.metadata.title }}</a></li>
    {% endfor %}
    </li>
</div>
{% endblock body %}
