{% extends "base.jinja" %}
{% block title %}
{{ post.metadata.title }}
{% endblock title %}
{% block body %}
<div id="main">
<div class="post">
  <div class="postbody">
  {{ post.html }}
  </div>
  <div class="pmetadata">
  Created on {{ post.metadata.pub_date }} by {{ post.metadata.author }}. Tagged as {{ post.metadata.tags|join(', ') }}.
  </div>
</div>
</div>
{% endblock body %}
