{% extends "base.jinja" %}
{% block body %}
<div class="post">
  <h1>{{ title }}</h1>
  <div class="postbody">
  {{ post }}
  </div>
  <div class="pmetadata">
  Created on {{ metadata.pub_date }} by {{ metadata.author }}. Tagged as {{ metadata.tags|join(', ') }}.
  </div>
</div>
{% endblock body %}
