{% extends "base.jinja" %}
{% block body %}
<h1>Posts tagged with {{ tag.tag }}</h1>
<div id="posts">
    <ul>
    {% for p in tag.posts %}
        <li><a href="{{ p.url }}">{{ p.metadata.title }}</a></li>
    {% endfor %}
    </li>
</div>
{% endblock body %}
