{% extends "base.jinja" %}
{% block body %}
<h1>Tag list</h1>
<div id="tags">
    {% for k,v in tags.iteritems() %}
        <a href="{{v.url}}">{{v.tag}}</a> ({{v.count}})
    {% endfor %}
</div>
{% endblock body %}
